@charset "utf-8";

body {
  margin: 0;
}

header {
  background: pink;
}

.container {
  display: flex;
}

main {
  background: skyblue;
  flex: 1;
}

nav {
  width: 160px;
  background: red;
  order: -1;
}

aside {
  background: orange;
  width: 160px;
}

footer {
  background: silver;
}
